body{

    background-image: linear-gradient(to right top, #3b1346, #391a53, #352260, #2b2a6d, #15327a);

}

.dashboard-container {
    width: 100%;
    height: 100vh;
}

.nav-container {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color:  #3b1346;
    border-bottom: 2px solid rgba(20, 0, 30, 0.7);
    box-shadow: 0 0 5px 0 rgba(33, 11, 46, 0.3);
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    align-items: center;
}

.nav-button {
    font-size: 25px;
    margin-left: auto;
    margin-right: 25px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.nav-button:hover{

    color:  #2449b6

}

.nav-button:active{
    color: #ff0000;
}

.post-image-container {
    height: 200px;
}

.post-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.post-card:hover {
    transform: scale(1.1);
}

.post-card-title {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #0e0e10;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px; 
    width: 100%;
}